parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\AccessControl\LoginAuthenticator
	router: App\RouterFactory::createRouter
	cacheStorage: 
		factory: Nette\Caching\Storages\DevNullStorage