parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	autoStart: smart

services:
	authenticator: App\Model\AccessControl\LoginAuthenticator
	router: App\RouterFactory::createRouter
	cacheStorage:
		factory: Nette\Caching\Storages\DevNullStorage
	#  class Permission will be created by calling create method in AuthorizationFactory
	- App\Model\AccessControl\AuthorizatorFactory::create
	- App\Model\Factories\SearchFormFactory