.navbar {
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-flow: column;
}

.row-top {
    flex: 0 1 auto;
}

.toolbar {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
}

.row-main {
    flex: 1 1 auto;
}

.table-line-item {
    width: 20px;
    height: 20px;
}

.table-list {
    width: 70%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;
    min-width: 60em;
}

.table-cont {
    padding: 10px;
    text-align: left;
}

.table-head {
    background-color: #8897DE;
    font-weight: bold;
}

.terms-table {
    width: 70%;
    border-collapse: collapse;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: black;
    min-width: 60em;
}

.terms-table-item {
    display: inline-block;
    box-sizing: border-box;
    font-size: 120%;
}

.terms-table-item-date {
    width: 20%;
}

.terms-table-item-short {
    width: 10%;
}

.terms-table-item-name {
    width: 55%;
}
.terms-table-item-no {
    width: 13%;
}

.terms-table-detail-div {
    padding: 0 20px 20px 20px;
    background-color: rgba(0,0,0,0.15);
}

.courses-table {
    border-width: 0 1px 1px 1px;
}

#course-color {
    background-color: #B7C1F0;
}

.terms-detail-table-cont {
    width: 18%;
    display: inline-block;
}

.terms-detail-long {
    width: auto;
}

#terms-table-footer {
    width: 70%;
    border-collapse: collapse;
    border-top: 1px solid black;
    min-width: 60em;
}

.questions-table-number {
    width: 12%;
}

.questions-table-name {
    width: 80%;
}

.questions-table-points {
    width: 7%;
}

.page-cont {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    min-width: 50em;
}

.flash {
    margin: 20px 20px 20px 0px;
    background-color: #78BD3F;
    word-spacing: 20%;
    width: 70%;
    padding: 10px;
}

.add-button {
    color: #B7C1F0;
    padding: 10px;
    border: none;
    background-color: #4457B0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}

.add-button:hover {
    color: #4457B0;
    background-color: #B7C1F0;
}

.add-div {
    margin: 15px 0px;
    display: none;
    background-color: #B7C1F0;
    padding: 20px;
}

.add-label {
    width: 30%;
}

.add-label-teachers {
    width: 15%;
}

.add-input {
    width: 70%;
}

input:focus {
    border: 2px solid #4457B0;
}

.add-button2 {
    color: #B7C1F0;
    border: none;
    background-color: #4457B0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
    width: 70%;
    height: 30px;
}

.terms-detail-button {
    color: #B7C1F0;
    border: none;
    background-color: #4457B0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.terms-detail-button:hover {
    color: #4457B0;
    background-color: #B7C1F0;
}

#comment {
    font-style: italic;
}

.not-found {
    text-align: center;
    font-size: 140%;
    width: 70%;
    min-width: 50rem;
}

.hidden {
    display: none;
}

#terms-table-link:hover {
    text-decoration: none;
}

#terms-table-heading:hover {
    background-color: #B7C1F0;
}

.admin-table-item-login {
    width: 18%;
}

.admin-table-item-name {
    width: 18%;
}

.admin-table-item-surname {
    width: 18%;
}

.admin-table-item-pass {
    width: 19%;
}

.admin-table-item-action {
    width: 25%;
}

.edit-button {
    color: #B7C1F0;
    border: none;
    background-color: #4457B0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 60%;
    height: 30px;
}

.edit-input {
    width: 80%;
}

.add-div-teachers {
    display: inline-block;
    width: 20%;
}

#add-teachers-type {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}