.navbar {
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-flow: column;
}

.version {
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
}

.row-top {
    flex: 0 1 auto;
}

.toolbar {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
}

.row-main {
    flex: 1 1 auto;
}

.table-line-item {
    width: 20px;
    height: 20px;
}

.table-list {
    width: 70%;
    border-collapse: collapse;
    border: 1px solid black;
}

.table-cont {
    padding: 10px;
    text-align: left;
}

.table-head {
    background-color: cornflowerblue;
}

.page-cont {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}

.flash {
    margin: 20px 20px 20px 0px;
    background-color: #78BD3F;
    word-spacing: 20%;
    width: 70%;
    padding: 10px;
}

.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: vertical;
    width: auto;
}
